{% extends "layout_2.html" %}
{% block content %}
<form action='/board' method='POST'>
<table id="faqlist" class="blist faqlist" summary="FAQ 목록입니다.">
    <thead>
        <tr>
            <th scope="col" class="lbg"><span>{{ _('number') }}</span></th>
            <th scope="col"><span>{{ _('title') }} </span></th>
            <th scope="col">{{ _('email') }}</span></th>
        </tr>
    </thead>
{% for i in range(board_count_n) %}
	<tbody>
    	<tr class="fir">
            <td class="num">{{ board_list[i][0] }}</td>
            <td class="qtype">{{ board_list[i][1] }}</td>
            <td class="title"><a href="#data1" id="144">{{ board_list[i][3] }}</a></td>
            <td class="qtype"><a href="/board_update/{{ board_list[i][0] }}" id="144">{{ _('update and delete') }}</a></td>
        </tr>
        <tr id="data1" class="answer" style="display: none;">
            <td colspan="3">
                <div class="answerContWrap">
                    <p class="answerCont">{{ board_list[i][2] }}</p>
                </div>
            </td>
        </tr>
    </tbody>
{% endfor %}
</table>
</form>
<p></p>
<p></p>
    <a class="btn btn-sm btn-outline-secondary mr-4" href="/board_write">{{ _('write') }}</a>
{% endblock content %}
