{% extends "layout_2.html" %}
{% block content %}

<!--
<table id="faqlist" class="blist faqlist" summary="FAQ 목록입니다.">
    <thead>
        <tr>
            <th scope="col" class="lbg"><span>번호</span></th>
            <th scope="col"><span>제목</span></th>
            <th scope="col">email</span></th>
        </tr>
    </thead>
	<tbody>
    	<tr class="fir">
            <td class="num">{{ board_list[i][0] }}</td>
            <td class="qtype">{{ board_list[i][1] }}</td>
            <td class="title"><a href="#data1" id="144">{{ board_list[i][3] }}</a></td>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ verb }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {{ sen }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                        
                      </div>
                    </div>
                  </div>
                </div>
        </tr>
        <tr id="data1" class="answer" style="display: none;">
            <td colspan="3">
                <div class="answerContWrap">
                    <p class="answerCont">{{ board_list[i][2] }}</p>
                </div>
            </td>
        </tr>
    </tbody>
    <p></p>
        <div class="login__content login__content--trigger">
           <a class="btn btn-sm btn-outline-secondary" href="/board_write/{{board_list[i][0]}}">업데이트</a>
            <p></p>
           <a class="btn btn-sm btn-outline-secondary" href="/board_update/{{ board_list[i][0] }}">삭제하기</a>-->
 <form action="/board_update/{{ board_list[i][0] }}" method="POST">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ username }} </legend>
            <div class="form-group">
                {{ update_form.title.label(class="form-control-label") }}
                {% if update_form.title.errors %}
                    {{ update_form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in update_form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ update_form.title(class="form-control", placeholder=board_list[i][1] ) }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ update_form.content.label(class="form-control-label") }}
                {% if update_form.content.errors %}
                    {{ update_form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in update_form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ update_form.content(class="textarea form-control", cols="5", rows="5", placeholder=board_list[i][2] ) }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ update_form.password.label(class="form-control-label") }}
                {% if update_form.password.errors %}
                    {{ update_form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in update_form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ update_form.password(class="form-control form-control-lg-pass", autocomplete="off") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ update_form.confirm.label(class="form-control-label") }}
                {% if update_form.confirm.errors %}
                    {{ update_form.confirm(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in update_form.confirm.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ update_form.confirm(class="form-control form-control-lg-pass", autocomplete="off") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="login__content login__content--trigger">
            <!--
          <input class="btn btn-sm btn-outline-secondary" type="submit" value="업데이트">-->
            {{ update_form.submit(class="btn btn-sm btn-outline-secondary", type="submit", value="Update") }}
        </div>
        <p></p>
    </form>
            <form action='/board_update/{{ board_list[i][0] }}' method='POST'>
            {{ del_form.accept(class="btn btn-sm btn-outline-secondary") }}
            {{ del_form.submit1(class="btn btn-sm btn-outline-secondary", type="submit", value="Delete") }}
            </form>

    <p></p>
{% endblock content %}
