<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Foxlee-shopping</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
  <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="/">Home</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="/">Foxlee-shop</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#"></a>
        {% if session.logged_in %}
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-secondary mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            내 정보
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if rank == 0 or rank[0][0] == None: %}
            <form action="{{ url_for('home') }}" method="POST">
              <input class="dropdown-item" href="/register_product" type="submit" value="판매자등록" >
            </form>
            {% else %}
            <a class="dropdown-item" href="/register_product">상품 등록</a>
            {% endif %}
            <a class="dropdown-item" href="/wish_list">장바구니</a>
            <a class="dropdown-item" href="/mypage">My page</a>
            <a class="dropdown-item" href="/board">Q & A</a>
          </div>
        </div>
        <a class="btn btn-sm btn-outline-secondary mr-4" href="/logout">Log out</a>
        {% else %}
        <a class="btn btn-sm btn-outline-secondary mr-4" href="/login">Log in</a>
        <a class="btn btn-sm btn-outline-secondary" href="/register">Sign up</a>
        {% endif %}
      </div>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="/tag/1">여성패션</a>
      <a class="p-2 text-muted" href="/tag/2">남성패션</a>
      <a class="p-2 text-muted" href="/tag/3">뷰티</a>
      <a class="p-2 text-muted" href="/tag/4">식품</a>
      <a class="p-2 text-muted" href="/tag/5">주방용품</a>
      <a class="p-2 text-muted" href="/tag/6">생활용품</a>
      <a class="p-2 text-muted" href="/tag/7">홈인테리어</a>
      <a class="p-2 text-muted" href="/tag/8">가전디지털</a>
      <a class="p-2 text-muted" href="/tag/9">자동차</a>
      <a class="p-2 text-muted" href="/tag/10">완구취미</a>
      <a class="p-2 text-muted" href="/tag/11">문구</a>
      <a class="p-2 text-muted" href="/tag/12">도서</a>
    </nav>
  </div>
    <!--
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
      <img id ="introImg" border="0">
      <div class="col-md-6 px-0"></div>
  </div>-->
  <div class="row mb-2"> <!--상품 포스트 container 시작-->
    {% for i in range(n) %}
    <div class="col-md-6"> <!--상품 포스트 1 시작-->
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary" value="product_name">{{ p_list[i][1] }}  </strong>
          {% if p_list[i][5]: %}
          <p class="mb-0">      판매자 : {{ p_list[i][5] }}</p>
          {% else %}{% endif %}
          {% if p_list[i][6]: %}
          <p class="mb-0"> Tag number: {{ categories[p_list[i][6]] }}  </p>
          {% else %}{% endif %}
          <p class="card-text mb-auto">상품 소개: {{ p_list[i][2] }}</p>
          <p></p>
          <p></p>
          <div class="mb-1 text-muted">좋아요 : {{ likes_count_all[i] }}</div>
          <a class="btn btn-sm btn-outline-secondary" href="/product_details/{{ p_list[i][0]}}">자세히</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <image width="200" height="250" src="../static/images/{{ p_list[i][3] }}"></image>
        </div>
      </div>
    </div> <!--상품 포스트 1 끝-->
    {% endfor %}
  </div> <!--상품 포스트 container 끝끝-->

 {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
         <div class="alert alert-{{ category }}">
          <div class="modal fade show" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-modal="true" style="display: block;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">방문해주셔서 감사합니다.</h5><p></p>
                </div>
                <div class="modal-body"><p><h5>{{ message }}</h5></p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" href="/">확인</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>Daehan LEE.
    <a href="#">Back to top</a>
  </p>
</footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
