<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Foxlee-shopping</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script type="text/javascript">
    function bottom_new(bottom) {
      var elmnt = document.getElementById(bottom);
      elmnt.scrollIntoView(true);
    };
    </script>
  </head>
  {% if tag_num: %}
  <body onload="bottom_new('bottom');">
  {% else %}
  <body>
  {% endif %}
  
  <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="/">{{ _('home') }}</a>
        <a class="text-muted" href="/admin/orders" style="margin-left: 10px;" >{{ _('admin') }}</a>     
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="/">Foxlee-shop</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#"></a>
        
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-secondary mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="fasle">
          {{ _('language') }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/language/en">{{ _('lang1') }}</a>
            <a class="dropdown-item" href="/language/ko">{{ _('lang2') }}</a>
          </div>
        </div>

        {% if session.logged_in %}
        <div class="dropdown">
          <button class="btn btn-sm btn-outline-secondary mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ _('mypage') }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% if rank == 0 or rank[0][0] == None %}
            <form action="{{ url_for('main.home') }}" method="POST">
              <input class="dropdown-item" href="/register_product" type="submit" value="{{ _('rg_seller')}}" >
            </form>
            {% else %}
            <a class="dropdown-item" href="/register_product">{{ _('sell') }}</a>
            {% endif %}
            <a class="dropdown-item" href="/wish_list">{{_('wishlist') }}</a>
            <a class="dropdown-item" href="/mypage">{{ _('mypage') }}</a>
            <a class="dropdown-item" href="/board">{{ _('Q & A') }}</a>
          </div>
        </div>
        <a class="btn btn-sm btn-outline-secondary mr-4" href="/logout">{{ _('logout') }}</a>
        {% else %}
        <a class="btn btn-sm btn-outline-secondary mr-4" href="/login">{{ _('login') }}</a>
        <a class="btn btn-sm btn-outline-secondary" href="/register">{{ _('signup') }}</a>
        {% endif %}
      </div>
    </div>
  </header>
      {% if points: %}<div style="text-align:right;"> {{ _('point') }} : {{ points[0][0] }} </div> {% else %} {% endif %}
  {% if ip: %}<div style="text-align:right;">IP : {{ ip }} / Country : {{ country }}</div> {% else %} {% endif %}
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="/tag/1">{{ gettext('female') }}</a>
      <a class="p-2 text-muted" href="/tag/2">{{ gettext('male') }}</a>
      <a class="p-2 text-muted" href="/tag/3">{{_('beauty') }}</a>
      <a class="p-2 text-muted" href="/tag/4">{{_('food') }}</a>
      <a class="p-2 text-muted" href="/tag/5">{{ _('kitchen') }}</a>
      <a class="p-2 text-muted" href="/tag/6">{{ _('home tools') }}</a>
      <a class="p-2 text-muted" href="/tag/7">{{ _('home design')}}</a>
      <a class="p-2 text-muted" href="/tag/8">{{ _('device') }}</a>
      <a class="p-2 text-muted" href="/tag/9">{{ _('car') }}</a>
      <a class="p-2 text-muted" href="/tag/10">{{ _('hobby') }}</a>
      <a class="p-2 text-muted" href="/tag/11">{{ _('stationary') }}</a>
      <a class="p-2 text-muted" href="/tag/12">{{ _('book') }}</a>
    </nav>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% if tag_num: %}
      {% else %}
      <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
      {% endif %}
    </ol>
    <div class="carousel-inner">
      {% if tag_num: %}
      <div class="carousel-item active">
        <a  href="/tag/{{tag_num}}"><img src="../static/images/{{tag_num}}.png" class="d-block w-100" alt="{{tag_num}}"></a>
      </div>
      {% else %}
      <div class="carousel-item active">
        <a  href="/tag/1"><img src="../static/images/1.png" class="d-block w-100" alt="1", title="여성패션"></a>
      </div>
      <div class="carousel-item">
        <a  href="/tag/2"><img src="../static/images/2.png" class="d-block w-100" alt="2", title="남성패션"></a>
      </div>
      <div class="carousel-item">
        <a  href="/tag/3"><img src="../static/images/3.png" class="d-block w-100" alt="3", title="뷰티"></a>
      </div>
      <div class="carousel-item">
        <a  href="/tag/4"><img src="../static/images/4.png" class="d-block w-100" alt="4", title="식품"></a>
      </div>
      <div class="carousel-item">
        <a  href="/tag/5"><img src="../static/images/5.png" class="d-block w-100" alt="5", title="주방용품"></a>
      </div>
      <div class="carousel-item">
        <a  href="/tag/6"><img src="../static/images/6.png" class="d-block w-100" alt="6", title="생활용품"></a>
      </div>
      <div class="carousel-item">
        <a  href="/tag/7"><img src="../static/images/7.png" class="d-block w-100" alt="7", title="홈인테리어"></a>
      </div>
      <div class="carousel-item">
        <a  href="/tag/8"><img src="../static/images/8.png" class="d-block w-100" alt="8", title="가전디지털"></a>
      </div>
      <div class="carousel-item">
        <a  href="/tag/9"><img src="../static/images/9.png" class="d-block w-100" alt="9", title="자동차"></a>
      </div>
      <div class="carousel-item">
        <a  href="/tag/10"><img src="../static/images/10.png" class="d-block w-100" alt="10", title="완구취미"></a>
      </div>
      <div class="carousel-item">
        <a  href="/tag/11"><img src="../static/images/11.png" class="d-block w-100" alt="11", title="문구"></a>
      </div>
      <div class="carousel-item">
        <a  href="/tag/12"><img src="../static/images/12.png" class="d-block w-100" alt="12", title="도서"></a>
      </div>
      {% endif %}
    </div>
    {% if tag_num: %}
    {% else %}
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    {% endif %}
  </div>
  <div class="col-md-6 px-0"></div>
  <div class="col-md-6 px-0"></div>
  {% if tag_num: %}     <!--tag_num 있으면 자동으로 내려감-->
  <div id="bottom"><p></p></div>
  {% else: %}{% endif %}
  <div class="row mb-2"> <!--상품 포스트 container 시작-->
    {% for i in range(n) %}
    <div class="col-md-6"> <!--상품 포스트 1 시작-->
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static" style="width:100%; height: 100%; overflow:hidden;">
          <div>
            <strong class="d-inline-block mb-2 text-primary" value="product_name">{{ p_list[i][1] }}  </strong>
             {% if p_list[i][5]: %}
            <p class="mb-0">      {{ _('seller') }} : {{ seller[i] }}</p>
            {% else %}{% endif %}
            {% if p_list[i][6]: %}
            <p class="mb-0">  {{ categories[p_list[i][6]] }}  </p>
            {% else %}{% endif %}
            <p class="card-text mb-auto">{{ _('intro') }}: {{ p_list[i][2][:10] }}...</p>
            <p></p>
            <p>{{ _('price') }} : {{ p_list[i][7] }} </p>
            <div class="mb-1 text-muted"> {{ _('likes') }} : {{ count[i] }}</div>  
            <a class="btn btn-sm btn-outline-secondary" href="/product_details/{{ p_list[i][0]}}">{{ _('quick look') }}</a>
          </div>  
        </div>
        <div class="col-auto d-none d-lg-block">  
          <image width="200" height="250" src="../static/images/{{ p_list[i][3] }}"></image>
        </div>
      </div>
    </div> <!--상품 포스트 1 끝-->
    {% endfor %}
  </div> <!--상품 포스트 container 끝끝-->

 {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
         <div class="alert alert-{{ category }}">
          <div class="modal fade show" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-modal="true" style="display: block;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body"><p><h5>{{ message }}</h5></p>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" href="/">{{ _('okay')  }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>Daehan LEE.
    <a href="#">Back to top</a>
  </p>
</footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
