{% extends "layout_2.html" %}
{% block content %}
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">여성패션</a>
      <a class="p-2 text-muted" href="#">남성패션</a>
      <a class="p-2 text-muted" href="#">뷰티</a>
      <a class="p-2 text-muted" href="#">식품</a>
      <a class="p-2 text-muted" href="#">주방용품</a>
      <a class="p-2 text-muted" href="#">생활용품</a>
      <a class="p-2 text-muted" href="#">홈인테리어</a>
      <a class="p-2 text-muted" href="#">가전디지털</a>
      <a class="p-2 text-muted" href="#">자동차</a>
      <a class="p-2 text-muted" href="#">완구취미</a>
      <a class="p-2 text-muted" href="#">문구</a>
      <a class="p-2 text-muted" href="#">도서</a>
    </nav>
</div>

  <form method="POST" action="" enctype="multipart/form-data">
  <div class="row mb-2"> <!--상품 포스트 container 시작-->
    <div class="col-md-6"> <!--상품 포스트 1 시작-->
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary" name="product_name" value="product_name">{{ product_detail[1] }}</strong>
          <h3 class="mb-0"></h3>
          <div class="mb-1 text-muted">등록 날짜: </div>
          {% if product_detail[5]: %}
          <p class="mb-0">      판매자 : {{ product_detail[5] }}</p>
          {% else %}{% endif %}
          {% if product_detail[6]: %}
          <p class="mb-0"> Tag number: {{ categories[product_detail[6]] }}  </p>
          {% else %}{% endif %}
          <p class="card-text mb-auto">상품 소개: {{ product_detail[2] }}</p>
          <p></p>
          <input class="login__button login__button--submit _loginSubmitButton" type="submit" value="장바구니">
          {% if datamacth == True %}
          <a class="login__button login__button--submit _loginSubmitButton" href="/product_update/{{product_detail[0]}}">수정 및 삭제</a>
          {% else %}{% endif %}
          <p></p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <image width="200" height="250" src="../static/images/{{ product_detail[3] }}"></image>
        </div>
      </div>
    </div> <!--상품 포스트 1 끝-->
  </div> <!--상품 포스트 container 끝끝-->
  </form>
{% endblock content %}
