{% extends "layout_2.html" %}
{% block content %}
<div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="/tag/1">{{ gettext('female') }}</a>
      <a class="p-2 text-muted" href="/tag/2">{{ gettext('male') }}</a>
      <a class="p-2 text-muted" href="/tag/3">{{_('beauty') }}</a>
      <a class="p-2 text-muted" href="/tag/4">{{_('food') }}</a>
      <a class="p-2 text-muted" href="/tag/5">{{ _('kitchen') }}</a>
      <a class="p-2 text-muted" href="/tag/6">{{ _('home tools') }}</a>
      <a class="p-2 text-muted" href="/tag/7">{{ _('home design')}}</a>
      <a class="p-2 text-muted" href="/tag/8">{{ _('device') }}</a>
      <a class="p-2 text-muted" href="/tag/9">{{ _('car') }}</a>
      <a class="p-2 text-muted" href="/tag/10">{{ _('hobby') }}</a>
      <a class="p-2 text-muted" href="/tag/11">{{ _('stationary') }}</a>
      <a class="p-2 text-muted" href="/tag/12">{{ _('book') }}</a>

    </nav>
</div>

  <form method="POST" action="" enctype="multipart/form-data">
  <div class="row mb-2"> <!--상품 포스트 container 시작-->
    <div class="col-md-6"> <!--상품 포스트 1 시작-->
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary" name="product_name" value="product_name">{{ product_detail[1] }}</strong>
          <h3 class="mb-0"></h3>
          {% if product_detail[5]: %}
          <p class="mb-0"> {{ _('sellser') }} : {{ username }}</p>
          {% else %}{% endif %}
          {% if product_detail[6]: %}
          <p class="mb-0"> Tag number: {{ categories[product_detail[6]] }}  </p>
          {% else %}{% endif %}
          <p class="card-text mb-auto">{{_('intro') }}: {{ product_detail[2] }}</p>
          <p>Likes : {{ likes }}</p>
          <p></p>
          {% if datamatch == True %}
          <a class="btn btn-sm btn-outline-secondary mr-4" href="/product_update/{{product_detail[0]}}"> {{ _('update and delete') }}</a>
          {% else %}
          <input class="btn btn-sm btn-outline-secondary mr-4" type="submit" value="{{ _('add to cart') }}">
          {% endif %}
        </div>
        <div class="col-auto d-none d-lg-block">
          <image width="200" height="250" src="../static/images/{{ product_detail[3] }}"></image>
        </div>
      </div>
    </div> <!--상품 포스트 1 끝-->
  </div> <!--상품 포스트 container 끝끝-->
  </form>
{% endblock content %}
