{% extends "layout_2.html" %}
{% block content %}
<form method="POST" action="">
     <fieldset class="form-group">
           <legend class="border-bottom mb-4">{{ _('wishlist') }} </legend>
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>{{ _('product_number') }}</th>
                  <th>{{ _('product_name') }}</th>
                  <th>{{ _('product_intro') }}</th>
                </tr>
              </thead>
            <tbody>
            {% for i in range(n) %}
            <tr>
              <td>{{ wish_list_products[i][0][0] }}</td>
              <td style="cursor:pointer;" onClick="location.href='https://shop.foxlee-p.ga/product_details/{{ wish_list_products[i][0][0] }}'">{{ wish_list_products[i][0][1] }}</td>
              <td>{{ wish_list_products[i][0][2] }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
     </fieldset>
     <input class="btn btn-sm btn-outline-secondary mr-4" type="submit" value="{{ _('buy') }}">
     <p></p>
     <p></p>
     <a class="login__button login__button--submit _loginSubmitButton" href="/order_list">{{ _('check my order') }}</a>	
 </form>
{% endblock content %}
