<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main3.css') }}">
</head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <!--<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <!--<link href="blog.css" rel="stylesheet">-->
  </head>
  <body>
<div class="container">
  <div class="renewal-header gnb-api">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="/">Home</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="/">Foxlee-shop</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary mr-4" href="/mypage">My page</a>
        <a class="btn btn-sm btn-outline-secondary mr-4" href="/logout">Log out</a>
        <a class="btn btn-sm btn-outline-secondary" href="/board">Q & A</a>


      </div>
    </div>
  </header>
  </div>
    <form method="POST" action="">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">배송지를 입력해주세요. </legend>
            <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                {% if form.address.errors %}
                    {{ form.address(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <!--{{ form.address(class="form-control form-control-lg") }}-->
                    <input type="text" class="form-control form-control-lg" placeholder = "{{ location_data_all[0][1] }}" name="address" value="{{request.form.address}}">
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.zipcode.label(class="form-control-label") }}
                {% if form.zipcode.errors %}
                    {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.zipcode.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <!--{{ form.zipcode(class="form-control form-control-lg") }}-->
                    <input type="text" class="form-control form-control-lg" placeholder = "{{ location_data_all[0][2] }}" name="zipcode" value="{{request.form.zipcode}}">
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.phonenumber.label(class="form-control-label") }}
                {% if form.phonenumber.errors %}
                    {{ form.phonenumber(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phonenumber.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <!--{{ form.phonenumber(class="form-control form-control-lg") }}-->
                    <input type="text" class="form-control form-control-lg" placeholder = "{{ location_data_all[0][3] }}" name="phonenumber" value="{{request.form.phonenumber}}">
                {% endif %}
            </div>
        </fieldset>
        <div class="login__content login__content--trigger">
          <input class="login__button login__button--submit _loginSubmitButton" type="submit" value="Submit">
        </div>
    </form>
</div>
</body>
</html>